.ChatRoomComponent {
  width: 70%;
  height: 100%;
}

.ChatInnerDiv {
  width: 100%;
  height: 82.5%;
  padding: 0.5rem 2rem;
  background-image: url(https://images.unsplash.com/photo-1637088540112-289b2ced97b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80);
  background-position: center;
  background-size: cover;
}

.MassageDiv {
  width: 100%;
  height: 8%;
  padding: 0.5rem 1rem;
  background-color: var(--NavbarColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MassageDiv .SendMassageDiv {
  width: 85%;
}

.MassageDiv .VoiceMassageDiv {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--IconColor);
}

.MassageDiv .VoiceMassageDiv i {
  cursor: pointer;
}

.MassageDiv .SendMassageDiv input {
  width: 100%;
  height: 50px;
  border: none;
  padding: 1rem;
  border-radius: 5px;
}

.EmogiDiv {
  position: relative;
}
