.PopUpComponent {
  width: 500px;
  height: 200px;
  position: absolute;
  padding: 0.5rem;
  top: -200px;
  left: 10px;
  background-color: var(--MainColor);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(98, 98, 98);
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  overflow-x: hidden;
  opacity: 0;
}

.PopUpComponent::-webkit-scrollbar {
  width: 5px;
}

.ShowEmogi {
  opacity: 1;
}

/* Track */
.PopUpComponent::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.PopUpComponent::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.PopUpComponent::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.PopUpComponent p {
  width: 26px;
  cursor: pointer;
  font-size: 1.2rem;
}
